.preview {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: var(--full-width);
    align-items: center;
    justify-content: center;
}

#preview{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 40px;
}

#preview .prev-image{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#preview .prev-documentation{
    width: 100%;
    display: grid;
    gap:10px;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    margin:40px 0px;
}

.prev-documentation p{
    font-weight: bold;
}

.prev-documentation span{
    max-width: 200px;
    display: block;
    color:darkcyan;
    overflow-wrap: break-word; 
    word-break: break-word;
}

.prev-documentation span.empty{
    color: brown;
}

.prev-documentation span.empty-optional{
    color: black;
}

.prev-documentation #address-span.empty-optional{
    grid-column: span 1;
    color: black;
}

.prev-documentation #address-span{
    grid-column: span 4;
    text-align: justify;
}

/** small devices **/
@media screen and (max-width:70rem) {
    #preview{
        display: none;
    }
}

/** for iphones**/
@media screen and (max-width:50rem) {
    #preview{
        display: flex;
    }

    #preview .prev-documentation{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}