.preview {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: var(--full-width);
    align-items: center;
    justify-content: center;
}

#preview{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 40px;
}

#preview .prev-image{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}


#preview .prev-appointment{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    margin:40px 0px;
}

.prev-appointment p{
    font-weight: bold;
}

.prev-appointment span{
    display: block;
    color:darkcyan;
    overflow-wrap: break-word; 
    word-break: break-word;
}

.prev-appointment span.empty{
    color: brown;
}

.prev-appointment span.empty-optional{
    color: black;
}

.prev-appointment #description-span.empty-optional{
    grid-column: span 1;
    color: black;
}

.prev-appointment #description-span{
    grid-column: span 4;
    text-align: justify;
    color: black;
}

/** small devices **/
@media screen and (max-width:70rem) {
    #preview{
        display: none;
    }
}

/** for iphones**/
@media screen and (max-width:50rem) {
    #preview{
        display: flex;
    }

    #preview .prev-appointment{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    #preview .prev-appointment p, #preview .prev-appointment span{
        width: 100%;
        text-align: start;
    }
}