@media screen and (max-width:1000px) {
    
    .hero{
        width: 100%;
        height: auto;
        position:static !important;
        display: block;
    }

    .hero img{
        width: 100%;
        height: auto;
    }

    .card{
        padding: 0px;
        width: 100% !important;
        position: static !important;
        display: block;
        margin-bottom: 20px;
        min-height: auto;
    }

    #weather, #data{
        position: static !important;
    }

    .card .title{
        position: static !important;
        width: 100% !important;
        margin-bottom: 10px;
    }

}