main{
    height: 100vh;
}

.message{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.message h2,p{
    text-align: center;
}

main p{
    background-color: whitesmoke;
}

p{
    font-weight: bold;
}

main span{
    color:green;
    font-weight: bold;
}